body{
  font-family:arial;
  color:#808080;
}
a:link{
  color:#80dfff;
}
a:hover{
  color:#ff9933;
}

header {
  background-color: #ffe6e6;
  border: 5px solid #ff0000;
  padding: 10px;
}

section.column-1 {
  background-color: #e6f2ff;
  /*float: right;*/
  /*max-width: 45%;*/
  display: inline-block;

  max-width: 45%;
  vertical-align: text-top;
  padding-left: 4%;
}

section.column-2 {
  background-color: #ebfaeb;
  /*float: right;*/
  /*max-width:45%;*/
  display: inline-block;
  max-width: 45%;
  vertical-align: text-top;
  padding-left: 4%;
}

footer {
  background-color: #fae6ff ;
  text-align: center;
  clear: both;
}