<!DOCTYPE html>
<html>
<head>
  <title>Select age</title>
</head>
  <body>
    <p> What student you want to delete based on age? </p>
    <form action="/campus" method="POST">
      <input type="text" name="age" placeholder="age">
      <button type="submit">Delete</button>
    </form>
</body>
</html>
