<!DOCTYPE html>
  <html>
<head>
  <title>List of names in the campus</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <ul>
    <% @campus.each do |student| %>
      <li><%= student['name'] %>, <%= student['campus'] %></li>
    <% end %>
  </ul>

</body>
</html>