#horizontal{
  position: absolute;
  top: 0; bottom:0; left: 0; right:0;
  margin: auto;
}
#hat {
  position: absolute;
  top: 0; bottom:300px; left: 0; right:0;
  margin: auto;
  z-index: 1;
}
#glass{
  position: absolute;
  top: 0; bottom:25px; left: 0; right:0;
  margin: auto;
  z-index: 2;
}


