#contact-info{
  font-size: .8em;
}
.job{
  background-color: #e9e5dc;
  border-radius: 25px;
  padding:10px;
  margin:8px;
  width: 75%;
}
.list{
  font-size: .8em;
}
#work-experience:hover{
  color:orange;
}

#personal-objective h2{
  color:blue;
}